body {
  font-family: Roboto;
  scroll-behavior: smooth;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.logo-container__img {
  max-width: 70%;
  height: auto;
  margin: auto;
}
.logo-container__icon {
  justify-self: flex-start;
}
.logo-container__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-baneer {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header-baneer__image {
  width: 100%;
  height: auto;
}

.menu-container {
  background-color: rgba(211, 211, 211, 0.15);
  border-radius: 25px 25px 0 0;
  width: 100%;
  padding-bottom: 25px;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px 0px 15px;
}
.menu-header__title {
  font-family: Shrikhand;
}

.food-section {
  width: 100%;
  margin: auto;
}
.food-section h2 {
  font-size: 18px;
  font-weight: 100;
  margin-left: 10px;
}

.food-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.food-card {
  display: flex;
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
}
.food-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  padding: 10px;
}
.food-card__description .food-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 5px;
}
.food-card__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 10px;
}
.food-card__ordered {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -60px;
  border-radius: 0 20px 20px 0;
  width: 60px;
  background-color: #99E2D0;
}
.food-card .check-icon {
  color: white;
}
.food-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3 px rgba(211, 211, 211, 0.315);
}
.food-card:hover .food-card__ordered {
  margin-right: 0px;
  transition: 300ms;
}
.food-card:hover .check-icon {
  transform: rotate(360deg);
  transition: 500ms;
}

.order {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-button {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-style: none;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
  color: white;
  font-weight: 700;
}
.order-button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #9356DC;
}

.footer-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-family: Shrikhand;
}

.footer-link {
  display: flex;
  padding-bottom: 5px;
  color: white;
}
.footer-link__icon {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.footer-link:hover {
  cursor: pointer;
  color: black;
}
.footer-link:hover .footer-link__icon {
  color: black;
}

@media screen and (min-width: 768px) {
  .food-card {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container {
    border-radius: unset;
  }
  .food-card {
    width: 30%;
  }
}/*# sourceMappingURL=menustyle.css.map */