//variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$full-width: 100%;




@mixin width-auto ($width-size: $full-width) {
    width: $width-size;
    margin: auto;

}

@mixin flex-center {
    display: flex;
    align-items: center;

}

//header
.logo-container {
    @include flex-center;
    width: 100%;
    margin-bottom: 20px;

    &__img {
        max-width: 70%;
        height: auto;
        margin: auto;
    }

    &__icon {
        justify-self: flex-start;
    }
}

.header-baneer {
    @include width-auto($full-width);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

//main

.menu-container {
    background-color: rgba(211, 211, 211, 0.150);
    border-radius: 25px 25px 0 0;
    width: 100%;
    padding-bottom: 25px;

}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px 0px 15px
}

.food-section {
    @include width-auto($full-width);
}

.food-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include width-auto(90%);
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
}

.food-title {
    margin-top: 0px;
    margin-bottom: 5px;
}


.order {
    @include width-auto($full-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-button {
    background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
    border-style: none;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);

}


//footer
.footer-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
}

.footer-link {
    display: flex;
    padding-bottom: 5px;
    color: white;

    &__icon {
        color: white;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}