@-webkit-keyframes puff-in-top {
  0% {
    transform: scale(2);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-top {
  0% {
    transform: scale(2);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
body {
  font-family: Roboto;
  scroll-behavior: smooth;
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-animation: loader-duration 1000ms;
          animation: loader-duration 1000ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes loader-duration {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-duration {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.loading-logo {
  position: absolute;
  top: 50%;
  -webkit-animation: logo-scale 300ms;
          animation: logo-scale 300ms;
}
@-webkit-keyframes logo-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes logo-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-color: #ff79da rgba(0, 0, 0, 0);
  -webkit-animation: spinner-e04l1k 1s infinite linear;
          animation: spinner-e04l1k 1s infinite linear;
  margin-bottom: 150px;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #9356dc rgba(0, 0, 0, 0);
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@-webkit-keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.logo-container__img {
  max-width: 70%;
  height: auto;
  margin: auto;
}
.logo-container__icon {
  justify-self: flex-start;
  margin-left: 20px;
}
.logo-container__icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header-baneer {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: 500px;
}
.header-baneer__image {
  width: 100%;
  height: auto;
}

main {
  width: 100%;
  margin-top: -20px;
  padding: 0px;
  background-color: rgb(243, 243, 243);
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

.menu-container {
  border-radius: 25px 25px 0 0;
  width: 100%;
  padding-bottom: 25px;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px 0px 15px;
}
.menu-header__title {
  font-family: Shrikhand;
}

.food-section {
  width: 100%;
  margin: auto;
}
.food-section h2 {
  font-size: 16px;
  font-weight: 100;
  margin-left: 10px;
  margin-bottom: 5px;
}
.food-section h3 {
  font-size: 16px;
}

.section-underline {
  width: 50px;
  background-color: #99E2D0;
  height: 2px;
  margin-left: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.food-cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.food-card {
  display: flex;
  width: 90%;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
}
.food-card.delay1 {
  -webkit-animation: puff-in-top 1s;
          animation: puff-in-top 1s;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.food-card.delay2 {
  -webkit-animation: puff-in-top 1s;
          animation: puff-in-top 1s;
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
}
.food-card.delay3 {
  -webkit-animation: puff-in-top 1s;
          animation: puff-in-top 1s;
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}
.food-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  padding: 10px;
}
.food-card__description .food-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 5px;
}
.food-card__description .food-toping {
  font-size: 14px;
}
.food-card__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 10px;
}
.food-card__ordered {
  margin-right: -60px;
  border-radius: 0 20px 20px 0;
  width: 60px;
  background-color: #99E2D0;
}
.food-card .check-icon {
  color: white;
}
.food-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
}
.food-card:hover .food-card__ordered {
  margin-right: 0px;
  transition: 300ms;
}
.food-card:hover .check-icon {
  transform: rotate(360deg);
  transition: 500ms;
}

.order {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-button {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-style: none;
  width: 50%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
  color: white;
  font-weight: 700;
}
.order-button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #9356DC;
}

footer {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
}

.footer-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-family: Shrikhand;
}

.footer-link {
  display: flex;
  padding-bottom: 5px;
  color: white;
}
.footer-link__icon {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.footer-link:hover {
  cursor: pointer;
  color: black;
}
.footer-link:hover .footer-link__icon {
  color: black;
}

@media screen and (min-width: 768px) {
  .food-card {
    width: 60%;
  }
  .order-button {
    width: 30%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container {
    border-radius: unset;
  }
  .food-card {
    width: 20%;
  }
  .order-button {
    width: 20%;
  }
}/*# sourceMappingURL=menustyle.css.map */