//variables
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$full-width: 100%;

//Size and shape mixins
@mixin size-scaling {
    max-width: 100%;
    height: auto;

}

@mixin width-auto ($width-size: $full-width) {
    width: $width-size;
    margin: auto;

}

@mixin icon-size {
    width: 50px;
    height: 50px;

}

//Color and style mixins

@mixin background-primary {
    background-color: $primary-color;
}

@mixin background-tertiary {
    background-color: $tertiary-color;
}

@mixin border-shadow {
    box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);

}

@mixin text-style ($font-weight: initial, $fontsize: initial, $color: initial) {
    font-weight: $font-weight;
    font-size: $fontsize;
    color: $color;
}

body {
    font-family: Roboto;
    scroll-behavior: smooth;
}


//Recurring-code

a,
a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;

}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100%;
}

//loading screen 

.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 3;
    animation: loader-duration 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;

    @keyframes loader-duration {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }

    }
}

.loading-logo {
    position: absolute;
    top: 50%;
    animation: logo-scale 300ms;

    @keyframes logo-scale {
        0% {
            scale: 0;

        }

        100% {
            scale: 1;

        }

    }

}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #ff79da #0000;
    animation: spinner-e04l1k 1s infinite linear;
    margin-bottom: 150px;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #9356dc #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}


//code

.logo-container {
    @include width-auto;
    margin-bottom: 20px;

    &__img {
        max-width: 70%;
        height: auto;
    }
}

.location-container {
    background-color: darkgray;
    max-height: 75px;
    min-height: 50px;
    border-top: 3px solid rgba(15, 15, 15, 0.582);
    @include width-auto;

    &_icon {
        margin-right: 10px;
        @include icon-size
    }

    &__text {
        font-size: 20px;
        margin-left: 10px;
    }


}

.header-baneer {
    flex-wrap: wrap;
    background-color: rgba(211, 211, 211, 0.150);
    height: 250px;

    &__tittle {
        font-size: 25px;
        text-align: center;
        margin-bottom: 0px;
    }

    &__description {
        @include text-style(lighter, 20px, initial);
        text-align: center;
        margin-top: 0px;
    }

    &__button {
        background: linear-gradient(170deg, $secondary-color 0%, $primary-color 100%);
        border-style: none;
        width: 70%;
        height: 50px;
        border-radius: 25px;
        @include border-shadow;
        color: white;
        font-weight: 700;

        &:hover {
            cursor: pointer;
            box-shadow: 3px 3px 3px $secondary-color;
        }

    }
}

.function-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.function-title {
    width: 100%;
    margin-left: 20px;
}

.function-container {
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.150);
    height: 60px;
    border-radius: 20px;
    @include border-shadow;
    @include width-auto(80%);
    margin-bottom: 25px;

    &__number {
        margin-right: 10px;
        margin-left: -7px;
        border-radius: 10px;
        height: 20px;
        width: 20px;
        background-color: $primary-color;
        color: white;
        font-weight: 500;

    }

    &__icon {
        margin-right: 15px;
    }

    &:hover {
        cursor: pointer;
        background-color: #9256dc1c;

        .function-icon {
            color: $primary-color;
        }

    }

    &__description {
        color: black;
        font-weight: 700;
    }
}

.function-icon {
    color: rgb(85, 84, 84);
}

.restaurant-container {
    background-color: rgba(211, 211, 211, 0.150);
    padding-bottom: 20px;

}

.restaurant-title {
    margin-left: 20px;
    padding-top: 10px;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    a {
        width: 100%;
    }
}

.restaurant-card {
    border-radius: 25px;
    height: 210px;
    background-color: white;
    @include border-shadow;
    @include width-auto(80%);
    margin-top: 25px;
    position: relative;


    &__img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;

    }

    &__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        i {
            display: flex;
            align-items: center;
            height: 50px;
            width: 50px;
            position: absolute;
            right: 5px;

        }

        .filled-heart {
            color: transparent;
            background: linear-gradient($secondary-color 0%, $primary-color 100%);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;

            &:hover {
                opacity: 1;
                transition: 1500ms;
            }
        }

        .empty-heart {


            &:hover {
                opacity: 0;
                transition: 1500ms;
            }
        }
    }
}




.card-sticker {
    position: absolute;
    color: rgb(10, 112, 32);
    font-weight: 600;
    background-color: $tertiary-color;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 30px;
}

.card-description {
    width: 70%;
    margin-left: 20px;



    &__name {
        margin-top: 5px;
        margin-bottom: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


}

.card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 5px;



}



//footer
.footer-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;
    font-family: Shrikhand;
}

.footer-link {
    display: flex;
    padding-bottom: 5px;
    color: white;

    &__icon {
        color: white;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &:hover {
        cursor: pointer;
        color: black;

        .footer-link__icon {
            color: black;
        }
    }
}


//Media queries 

@media screen and (min-width: 768px) {

    .header-baneer__button {
        width: 30%;
    }

    .function-container {
        width: 30%;
    }

    .cards-container {
        a {
            width: 45%;
        }
    }
}

@media screen and (min-width: 992px) {
    .header-baneer__button {
        width: 20%;
    }

}