body {
  font-family: Roboto;
  scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width {
  width: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-animation: loader-duration 1000ms;
          animation: loader-duration 1000ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes loader-duration {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-duration {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.loading-logo {
  position: absolute;
  top: 50%;
  -webkit-animation: logo-scale 300ms;
          animation: logo-scale 300ms;
}
@-webkit-keyframes logo-scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
@keyframes logo-scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-color: #ff79da rgba(0, 0, 0, 0);
  -webkit-animation: spinner-e04l1k 1s infinite linear;
          animation: spinner-e04l1k 1s infinite linear;
  margin-bottom: 150px;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #9356dc rgba(0, 0, 0, 0);
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@-webkit-keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
.logo-container {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
.logo-container__img {
  max-width: 70%;
  height: auto;
}

.location-container {
  background-color: darkgray;
  max-height: 75px;
  min-height: 50px;
  border-top: 3px solid rgba(15, 15, 15, 0.582);
  width: 100%;
  margin: auto;
}
.location-container_icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.location-container__text {
  font-size: 20px;
  margin-left: 10px;
}

.header-baneer {
  flex-wrap: wrap;
  background-color: rgba(211, 211, 211, 0.15);
  height: 250px;
}
.header-baneer__tittle {
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;
}
.header-baneer__description {
  font-weight: lighter;
  font-size: 20px;
  color: initial;
  text-align: center;
  margin-top: 0px;
}
.header-baneer__button {
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 100%);
  border-style: none;
  width: 70%;
  height: 50px;
  border-radius: 25px;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
  color: white;
  font-weight: 700;
}
.header-baneer__button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px #FF79DA;
}

.function-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.function-title {
  width: 100%;
  margin-left: 20px;
}

.function-container {
  display: flex;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.15);
  height: 60px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
}
.function-container__number {
  margin-right: 10px;
  margin-left: -7px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
}
.function-container__icon {
  margin-right: 15px;
}
.function-container:hover {
  cursor: pointer;
  background-color: rgba(146, 86, 220, 0.1098039216);
}
.function-container:hover .function-icon {
  color: #9356DC;
}
.function-container__description {
  color: black;
  font-weight: 700;
}

.function-icon {
  color: rgb(85, 84, 84);
}

.restaurant-container {
  background-color: rgba(211, 211, 211, 0.15);
  padding-bottom: 20px;
}

.restaurant-title {
  margin-left: 20px;
  padding-top: 10px;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards-container a {
  width: 100%;
}

.restaurant-card {
  border-radius: 25px;
  height: 210px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(211, 211, 211, 0.315);
  width: 80%;
  margin: auto;
  margin-top: 25px;
  position: relative;
}
.restaurant-card__img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurant-card__footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.restaurant-card__footer i {
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 5px;
}
.restaurant-card__footer .filled-heart {
  color: transparent;
  background: linear-gradient(#FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurant-card__footer .filled-heart:hover {
  opacity: 1;
  transition: 1500ms;
}
.restaurant-card__footer .empty-heart:hover {
  opacity: 0;
  transition: 1500ms;
}

.card-sticker {
  position: absolute;
  color: rgb(10, 112, 32);
  font-weight: 600;
  background-color: #99E2D0;
  top: 15px;
  right: 15px;
  width: 100px;
  height: 30px;
}

.card-description {
  width: 70%;
  margin-left: 20px;
}
.card-description__name {
  margin-top: 5px;
  margin-bottom: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.footer-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
}

.footer-title {
  margin-top: 10px;
  margin-bottom: 5px;
  color: white;
  font-family: Shrikhand;
}

.footer-link {
  display: flex;
  padding-bottom: 5px;
  color: white;
}
.footer-link__icon {
  color: white;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.footer-link:hover {
  cursor: pointer;
  color: black;
}
.footer-link:hover .footer-link__icon {
  color: black;
}

@media screen and (min-width: 768px) {
  .header-baneer__button {
    width: 30%;
  }
  .function-container {
    width: 30%;
  }
  .cards-container a {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .header-baneer__button {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */