@import "/assets/utils/variables";


@mixin size-scaling {
    max-width: 100%;
    height: auto;

}

@mixin width-auto {
    width: 100%;
    margin: auto;

}

@mixin background-primary {
    background-color: $primary-color;
}

@mixin background-tertiary {
    background-color: $tertiary-color;
}

@mixin border-shadow {
    box-shadow: 2px 2px 2px grey;

}

@mixin icon-size {
    width: 50px;
    height: 50px;

}